<my-app><i class="loading"></i></my-app>
<div class="row">
    <div class="col-md-12 padding-bottom-small">
        <div class="row">
            <div class="col-md-8 margin-bottom-small">
                <div class="row">
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="left: 0; position: relative;">
                            <!-- Indicators -->
                            <ol class="carousel-indicators" style="text-align: center;">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="data-slide"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" class="data-slide"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2" class="data-slide active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3" class="data-slide"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="4" class="data-slide"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="5" class="data-slide"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="6" class="data-slide"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="7" class="data-slide"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item">
                                    <a href="cards/holidays/spring/give-thank-in-all-seasons.html">
                                        <img class="img-responsive center-block" src="~/img/cms/CROSSCARDS/15073-miss-you-kittens-800x400.jpg" alt="Give Thank in All Seasons">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img class="img-responsive center-block" src="~/img/cms/CROSSCARDS/15074-purrfect-800x400.jpg" alt="You Are Loved">
                                    </a>
                                </div>
                                <div class="item active">
                                    <a href="#">
                                        <img class="img-responsive center-block" src="~/img/cms/CROSSCARDS/15082-blessings-abound.jpg" alt="Spring Blessings - Philippians 4:19">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img class="img-responsive center-block" src="~/img/cms/CROSSCARDS/15096-christ-hung.jpg" alt="It's a Good Day to be Happy">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img class="img-responsive center-block" src="~/img/cms/CROSSCARDS/30177-cm-all-things-Christ-strength-social.1100w.tn.png" alt="What do you need God's help with today?">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img class="img-responsive center-block" src="~/img/cms/CROSSCARDS/30369-cc_CongratsWatercolors.1100w.tn.jpg" alt="Congrats">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img class="img-responsive center-block" src="~/img/cms/CROSSCARDS/30529-cc_life_laughing.1100w.tn.jpg" alt="Life is Better When You're Laughing">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img class="img-responsive center-block" src="~/img/cms/IB/28135-cc_birthday-candles2.1100w.tn.jpg" alt="Happy Birthday!">
                                    </a>
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="fa fa-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="fa fa-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row margin-bottom-medium">
                            @*le tinh yeu*@
                            <div class="col-md-12 margin-bottom-medium">
                                <a href="#" class="btn btn-default btn-lg btn-block">
                                    <div class="row">
                                        <div class="col-md-2" style="font-size: 30px;">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <div class="col-md-9">
                                            <strong>Lễ tình yêu</strong>
                                            <span class="padding-right-small text-muted btn-block">
                                                14/Tháng 2
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            @*quoc te phu nu*@
                            <div class="col-md-12 margin-bottom-medium">
                                <a href="#" class="btn btn-default btn-lg btn-block">
                                    <div class="row">
                                        <div class="col-md-2" style="font-size: 30px;">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <div class="col-md-9">
                                            <strong>Quốc tế phụ nữ</strong>
                                            <span class="padding-right-small text-muted btn-block">
                                                8/Tháng 3
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            @*ca thang tu*@
                            <div class="col-md-12 margin-bottom-medium">
                                <a href="#" class="btn btn-default btn-lg btn-block">
                                    <div class="row">
                                        <div class="col-md-2" style="font-size: 30px;">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <div class="col-md-9">
                                            <strong>Cá tháng 4</strong>
                                            <span class="padding-right-small text-muted btn-block">
                                                1/Tháng 4
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            @*phu nu viet nam*@
                            <div class="col-md-12 margin-bottom-medium">
                                <a href="#" class="btn btn-default btn-lg btn-block">
                                    <div class="row">
                                        <div class="col-md-2" style="font-size: 30px;">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <div class="col-md-9">
                                            <strong>Phụ nữ Việt Nam</strong>
                                            <span class="padding-right-small text-muted btn-block">
                                                20/Tháng 10
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            @*nha giao viet nam*@
                            <div class="col-md-12 margin-bottom-medium">
                                <a href="#" class="btn btn-default btn-lg btn-block">
                                    <div class="row">
                                        <div class="col-md-2" style="font-size: 30px;">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <div class="col-md-9">
                                            <strong>Nhà giáo Việt Nam</strong>
                                            <span class="padding-right-small text-muted btn-block">
                                                20/Tháng 11
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*thiep hot*@
        <div class="row">
            <div class="col-xs-12">
                <div class="margin-top-small">
                    <h2>Thiệp hot</h2>
                    <div class="row">
                        <div class="col-xs-4 col-md-2 margin-bottom-medium">
                            <a href="#">
                                <img class="img-responsive" src="~/img/cms/IB/30548-easter-5.1100w.tn.jpg" alt="Easter's Eternal Promise">
                            </a>
                        </div>
                        <div class="col-xs-4 col-md-2 margin-bottom-medium">
                            <a href="#">
                                <img class="img-responsive" src="~/img/cms/CROSSCARDS/30815-cc_HelloSpring_2016.1100w.tn.jpg" alt="Give Thank in All Seasons">
                            </a>
                        </div>
                        <div class="col-xs-4 col-md-2 margin-bottom-medium">
                            <a href="#">
                                <img class="img-responsive" src="~/img/cms/IB/30545-easter-3.1100w.tn.jpg" alt="Happy Easter">
                            </a>
                        </div>
                        <div class="col-xs-4 col-md-2 margin-bottom-medium">
                            <a href="#">
                                <img class="img-responsive" src="~/img/cms/CROSSCARDS/30693-cc_Tulips_BeAmazing.1100w.tn.jpg" alt="Be Amazing - Matthew 5:13-16">
                            </a>
                        </div>
                        <div class="col-xs-4 col-md-2 margin-bottom-medium">
                            <a href="#">
                                <img class="img-responsive" src="~/img/cms/IB/30549-easter-2.1100w.tn.jpg" alt="My Redeemer Lives!">
                            </a>
                        </div>
                        <div class="col-xs-4 col-md-2 margin-bottom-medium">
                            <a href="#">
                                <img class="img-responsive" src="~/img/cms/CROSSCARDS/30737-cc_Easter2016_1.1100w.tn.jpg" alt="Easter Blessings - He Lives!">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>